x64/
debug/
release/
build/
build_cli_qt6_release/
deploy/
deployment/
installer/

.qtcreator/
.qtc_clangd/
.qt_for_python/
.vs/
.DS_Store
*.idx
*.pro.user*
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release

ui_*.h
*_ui.py
ui_*.py
resource_rc.py
*_plugin_import.cpp

__pycache__/
*.pyc
*.pyo

plugin/IndustrialCamera/build/
plugin/IndustrialCamera/plugin/

mylog.txt
settings.ini
customUI.ini
coordinates.txt
token.txt
